@model IEnumerable<prueba2maya.Models.Producto>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<!-- Mostrar solo si el usuario es administrador -->
@if (User.IsInRole("Administrador"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreProducto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CantidadDisponible)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImagenUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdCategoriaNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdProveedorNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdSucursalNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreProducto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Precio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CantidadDisponible)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ImagenUrl)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdCategoriaNavigation.IdCategoria)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdProveedorNavigation.IdProveedor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdSucursalNavigation.IdSucursal)
                </td>
                <td>
                    <!-- Mostrar solo si el usuario es administrador -->
                    @if (User.IsInRole("Administrador"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.IdProducto">Edit</a>
 
                    <a asp-action="Details" asp-route-id="@item.IdProducto"> Details </a> 
                    <a asp-action="Delete" asp-route-id="@item.IdProducto"> Delete </a >
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
