@model IEnumerable<prueba2maya.Models.DetallePedidosProveedore>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CantidadSolicitada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecioUnitario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdPedidoProveedorNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdProductoNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CantidadSolicitada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioUnitario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdPedidoProveedorNavigation.IdPedidoProveedor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdProductoNavigation.IdProducto)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdDetallePedidoProveedor">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdDetallePedidoProveedor">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdDetallePedidoProveedor">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
