@model prueba2maya.Models.ClientesFrecuente

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ClientesFrecuente</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalCompras)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalCompras)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaUltimaCompra)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaUltimaCompra)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PuntosAcumulados)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PuntosAcumulados)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdClienteNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdClienteNavigation.IdUsuario)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdClienteFrecuente">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
