@model prueba2maya.Models.HistorialPedido

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>HistorialPedido</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoAnterior)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstadoAnterior)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoNuevo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstadoNuevo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaCambio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaCambio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActualizadoPorNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActualizadoPorNavigation.IdUsuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdPedidoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdPedidoNavigation.IdPedido)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdHistorialPedido">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
