@model IEnumerable<prueba2maya.Models.HistorialPedido>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<!-- Mostrar solo si el usuario es administrador -->
@if (User.IsInRole("Administrador"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EstadoAnterior)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstadoNuevo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaCambio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActualizadoPorNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdPedidoNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EstadoAnterior)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EstadoNuevo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaCambio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ActualizadoPorNavigation.IdUsuario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdPedidoNavigation.IdPedido)
                </td>
                <td>
                    <!-- Mostrar los botones de acción solo si el usuario es administrador -->
                    @if (User.IsInRole("Administrador"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.IdHistorialPedido">Edit</a>
 
                    <a asp-action="Details" asp-route-id="@item.IdHistorialPedido"> Details </a> 
                    <a asp-action="Delete" asp-route-id="@item.IdHistorialPedido"> Delete </a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
